.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
tools/
.project
.autotools
.cproject
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.lo
*.o
*.la

